        body{
            overflow: hidden;
            margin:0 auto;
            
        }
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        ul{
            list-style-type: none;
            margin:0;
            padding: 0;
            overflow: hidden;
            width: 100%;
            
        }
        li{
            float: left;
        }
        li a{
            display: inline-block;
            padding:8px 10px;
            background-color: rgb(255, 255, 255);
            font-family: Arial, Helvetica, sans-serif;
            color: black;
            font-size: 14px;
            text-decoration: none;
            margin:5px;
            
        }
        li a:hover{
            text-decoration: underline;
        }
        .navbar{
            position: static;
            width: 100%;
            border: 15px solid white;
            /* If you can with every div, colour the border/margin so that you see where it is on the page for positioning and size  */
        }
        .btn{
            color: rgb(255, 255, 255);
            background-color: rgb(68,132,250);
            text-align: center;                                                                                                                                                                                                                                             
            padding: 8px 12px;
            border: 10px;
            margin: 5px;
            cursor: pointer;
            border-radius: 2px;
            text-align: center;
            font-weight: bold;
        }
        .btn:hover{
            box-shadow: 0 0 5px rgba(68, 132, 250);
        }
        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px;  /* Preferred icon size */
            display: inline-block;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            margin: 10px;
            color: rgb(126,126,126);

            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;

            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;

            /* Support for IE. */
            font-feature-settings: 'liga';
        }
        /* the recent Google homepage used rounded material icons, but when using their fonts, the code wouldn't translate  */
        .material-icons:hover{
            color:black;
        }
        .center{
            position: relative ;            
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%); 
            height: 500px;
            width: 1000px;
            bottom: -400px;
            border: 3px solid white;
            overflow: hidden;
        }
        .logo{
            display: block;
            position: fixed;
            top: 20%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%) 
        }
        .searchbar {
            display: grid;
            grid-template-columns:1.5rem 4fr 1fr;
            width:584px;
            border: 1px solid #ccc;
            border-radius: 25px;
            overflow: hidden;
            position: fixed;
            top: 40%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            font-size: 16px;
        }

        .searchbar:focus-within i {
            display: none;
        }

        .searchbar:focus-within .searchBox{
            grid-column:1/4;
        }

        .searchbar:focus-within .searchBox::placeholder {
            color:transparent;
        }

        .searchIcon {
            padding: 0.7rem;
            grid-row:1;
            grid-column:1/2;
            z-index:2;
            color: rgb(126,126,126);

        }
        .search {
            border: 0;
            padding: 0.7rem;
            grid-column:2/4;
            grid-row:1;
            outline:none;
            font-size: 16px;
        }
        @media screen and (max-width: 600px) {
            .searchbar{
                max-width: 450px;
            }
        }
        .searchbar:hover{
            box-shadow: 0 0 10px rgba(228, 228, 228, 0.767)
        }  
        .footer{
            overflow: hidden;
            background-color: rgb(241,241,241);
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: 0;
            padding: 0;
            border: 0.5px solid rgb(216, 216, 216);
        } 
        .footer a{
            float: left;
            display: block;
            color: rgb(119, 119, 119);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .footer a:hover{
            text-decoration: underline;
        }
        .buttons{
            border: 2px solid white;
            background-color: white;
            color: black;
            padding: 14px 28px;
            font-size: 16px;
            cursor: pointer;
            text-align: justify;
            display: block;
            position: fixed;
            top: 60%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
        .btn2{
            background-color: rgb(241,241,241);
            color: rgb(56, 56, 56);
            font-size: 14px;
            padding: 10px 15px;
            margin: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            outline:none;
            
        }
        .btn2:hover{
            border: 1px solid rgb(216, 216, 216);
            box-shadow: 0 0 1px rgba(216,216,216);
        } 
        /* This needs further work on the movement of the screen when small and on mobile devices */
        @media screen and (max-width: 600px) {
            .footer a{
                float: none;
                display: inline-block;
            } 
        }
